{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Галерея</title>

    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">                
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">                                      
    <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">                                   

    
</head>

    <body>
        
        <div class="container">
            <header class="tm-site-header">
                <h1 class="tm-site-name">Закир Калкабаев</h1>
                <p class="tm-site-description">художник-портретист</p>
                
                <nav class="navbar navbar-expand-md tm-main-nav-container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tmMainNav" aria-controls="tmMainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse tm-main-nav" id="tmMainNav">
                        <ul class="nav nav-fill tm-main-nav-ul">
                            <li class="nav-item"><a class="nav-link" href="index.html">Главное</a></li>
                            <li class="nav-item"><a class="nav-link" href="preview.html">Каталог</a></li>
                            <li class="nav-item"><a class="nav-link active" href="contact.html">Контакты</a></li>
                        </ul>
                    </div>
                </nav>
                
            </header>
            
            <div class="tm-main-content">
                <section class="tm-margin-b-l">
                    <header>
                        <h2 class="tm-main-title">Добро пожаловать в нашу галерею</h2>    
                    </header>
                    
                    <p>Рады приветствовать Вас в нашем сайте! Здесь Вы можете ознакомиться с некоторыми работами кыргызского художника с 30-летним стажем, а также сделать заказ потретов, шаржей и картин на любой вкус.</p>
                    
                    <div class="tm-gallery">
                        <div class="row">
                            <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <a href="preview.html">
                                    <div class="tm-gallery-item-overlay">
                                        <img src="{% static 'img2/image-01.jpg' %}" alt="Image" class="img-fluid tm-img-center">
                                    </div>
                                    
                                    <p class="tm-figcaption">Копия работы голландского художника Франса Халса "Компания капитана Рейнера"</p>
                                </a>
                            </figure>
                            <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <a href="preview.html">
                                    <div class="tm-gallery-item-overlay">
                                        <img src="{% static 'img2/image-02.jpg' %}" alt="Image" class="img-fluid tm-img-center">
                                    </div>
                                    <p class="tm-figcaption">Скачки</p>
                                </a>
                            </figure>
                            <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <a href="preview.html">
                                    <div class="tm-gallery-item-overlay">
                                        <img src="{% static 'img2/image-07.jpg' %}" alt="Image" class="img-fluid tm-img-center">
                                    </div>
                                    <p class="tm-figcaption">Натюрморт</p>
                                </a>
                            </figure>
                            <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <a href="preview.html">
                                    <div class="tm-gallery-item-overlay">
                                        <img src="{% static 'img2/image-08.jpg' %}" alt="Image" class="img-fluid tm-img-center">
                                    </div>
                                    <p class="tm-figcaption">Лошади</p>
                                </a>
                            </figure>
                            <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <a href="preview.html">
                                    <div class="tm-gallery-item-overlay">
                                        <img src="{% static 'img2/image-05.jpg' %}" alt="Image" class="img-fluid tm-img-center">
                                    </div>
                                    <p class="tm-figcaption">Шаржи одиночные</p>
                                </a>
                            </figure>
                            <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <a href="preview.html">
                                    <div class="tm-gallery-item-overlay">
                                        <img src="{% static 'img2/image-06.jpg' %}" alt="Image" class="img-fluid tm-img-center">
                                    </div>
                                    <p class="tm-figcaption">Парные шаржи</p>
                                </a>
                            </figure>
                            <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <a href="preview.html">
                                    <div class="tm-gallery-item-overlay">
                                        <img src="{%  static 'img2/image-13.jpg'  %}" alt="Image" class="img-fluid tm-img-center">
                                    </div>
                                    <p class="tm-figcaption">Цветные потреты на заказ</p>
                                </a>
                            </figure>
                            <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                <a href="preview.html">
                                    <div class="tm-gallery-item-overlay">
                                        <img src="{% static 'img2/image-03.jpg' %}" alt="Image" class="img-fluid tm-img-center">
                                    </div>
                                    <p class="tm-figcaption">Чёрно-белые потреты на заказ</p>
                                </a>
                            </figure> 
                        </div>   
                    </div>
                    
                    <nav class="tm-gallery-nav">
                        <ul class="nav justify-content-center">
                            <li class="nav-item"><a class="nav-link active" href="preview.html">Смотреть больше</a></li>
                        </ul>
                    </nav>
                </section>

                </div>

            <footer>
                Авторское право &copy; <span class="tm-current-year">2020</span> принадлежит Закиру Калкабаеву 
                
                - Сайт разработан Бахтияром Закировым
            </footer>    
        </div>
        
        
        <script src="js/jquery-1.11.3.min.js"></script>         
        <script src="js/popper.min.js"></script>                
        <script src="js/bootstrap.min.js"></script>             
        <script>     
       
            $(document).ready(function(){
                
                
                $('.tm-current-year').text(new Date().getFullYear());

            });

        </script>             

</body>
</html>