{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Галерея</title>

    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">                
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">                                      
    <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">                                    

    
</head>

    <body>
        
        <div class="container">
            <header class="tm-site-header">
                <h1 class="tm-site-name">Портреты</h1>
                                
                <nav class="navbar navbar-expand-md tm-main-nav-container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tmMainNav" aria-controls="tmMainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse tm-main-nav" id="tmMainNav">
                        <ul class="nav nav-fill tm-main-nav-ul">
                            <li class="nav-item"><a class="nav-link" href="index.html">Главное</a></li>
                            <li class="nav-item"><a class="nav-link active" href="preview.html">Каталог</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Контакты</a></li>
                        </ul>
                    </div>    
                </nav>
                
            </header>
            
            <div class="tm-gallery">
                <div class="row">
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a href="details.html">
                            <div class="tm-gallery-item-overlay">
                                <img src="img2/image-09.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            
                            <p class="tm-figcaption">Байтик Баатыр</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a href="details.html">
                            <div class="tm-gallery-item-overlay">
                                <img src="img2/image-13.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Борончу Кудайбергенов</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a href="details.html">
                            <div class="tm-gallery-item-overlay">
                                <img src="img2/image-11.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">В процессе работы двойного портрета</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a href="details.html">
                            <div class="tm-gallery-item-overlay">
                                <img src="img2/image-12.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Таинственная девушка</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a href="details.html">
                            <div class="tm-gallery-item-overlay">
                                <img src="img2/image-18.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Портреты ко Дню учителя</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a href="details.html">
                            <div class="tm-gallery-item-overlay">
                                <img src="img2/image-19.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Музыкант</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a href="details.html">
                            <div class="tm-gallery-item-overlay">
                                <img src="img2/image-20.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Таттыбубу Турсунбаева</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a href="details.html">
                            <div class="tm-gallery-item-overlay">
                                <img src="img2/image-23.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            <p class="tm-figcaption">Охотники</p>
                        </a>
                    </figure>
                    <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <a href="details.html">
                            <div class="tm-gallery-item-overlay">
                                <img src="img2/image-24.jpg" alt="Image" class="img-fluid tm-img-center">
                            </div>
                            
                            <p class="tm-figcaption">Портрет на фоне природы</p>
                        </a>
                    </figure>

                </div>   
            </div>                   
                            
            </div>

            <footer>
                Авторское право &copy; <span class="tm-current-year">2020</span> принадлежит Закиру Калкабаеву 
                
                - Сайт разработан Бахтияром Закировым
            </footer>    
        </div>
        
        
        <script src="js/jquery-1.11.3.min.js"></script>         
        <script src="js/popper.min.js"></script>                
        <script src="js/bootstrap.min.js"></script>             
        <script>     
       
            $(document).ready(function(){
                
                
                $('.tm-current-year').text(new Date().getFullYear());

            });

        </script>           

</body>
</html>